.more{
    font-size: 25px!important;
    line-height: 7px!important;
}
.cart_icon{
    float: left;
    width: 18px;
    height: 20px;
    background: url("../img/index/navbar_cart-icon_empty_01.png");
    background-size: 100%;
    margin: 10px 15px 0 0;
}
.nav-middle,.nav-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.homepage-logo{
    width: 150px;
    margin-top: -8px;
    padding-top: 0;
}
.navbar-nav>li>a, .narrow-nav{
    font-weight: 600;
    color: #a2a2a2!important;
    letter-spacing: 0.1em;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .narrow-nav:hover, .narrow-nav:active{
    color: #693248!important;
}
.narrow-nav:hover, .narrow-nav:active{
    background: transparent!important;
}
/*pad*/
@media(min-width: 768px){
    .broad-navbar .nav-middle{
        width: 486px;
    }
    .broad-navbar .nav-middle>li>a{
        padding-left: 1px!important;
        padding-right: 1px!important;
        font-size: 0.7em;
    }
    .navbar-right{
        margin-right: 0;
    }
    .nav-logo{
        display: none!important;
    }
    .collapse.navbar-collapse.narrow-menu-list {
        display: none!important;
    }
}
/*pad pro*/
@media(min-width: 1024px){
    .broad-navbar .nav-middle{
        width: auto;
    }
    .broad-navbar .nav-middle>li>a{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}
/*pc*/
@media(min-width: 1220px){
    .broad-navbar .nav-middle{
        width: auto;
    }
    .broad-navbar .nav-middle>li>a{
        padding-left: 15px!important;
        padding-right: 15px!important;
        font-size: 1em;
    }
}
.more:hover, .more:active, .more:focus{-
    background: transparent!important;
}
.navbar-right .dropdown-menu>li:not(:last-child)>a:hover, .navbar-right .dropdown-menu>li:not(:last-child)>a:active{
    background: #9b7687;
    color: #fff;
}
.share-link>a{
    display: inline-block!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.share-link>a>i{
    font-size: 1.5em;
}
.share-link>a:hover, .share-link>a:active{
    background: transparent!important;
    color: #693248!important;
}
.narrow-nav{
    border: none;
}
.narrow-menu{
    float: left;
    margin-left: 15px;
}
.narrow-menu-list{
    background: #683047;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%!important;
}
.narrow-menu-list>.close{
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    text-shadow: none;
}
.narrow-menu-list .list-group{
    margin-top: 50px;
}
.narrow-menu-list .list-group>.list-group-item{
    text-align: center;
    background: transparent;
    border: none;
}
.narrow-menu-list .list-group>.list-group-item>a{
    color: #fff;
}
.banner-slide img{
    width: 100%;
}
#homepage-center{
    margin-bottom: 45px;
}
#homepage-center h1{
    font-size: 2em;
    color: #683047;
}
#homepage-center h3{
    font-size: 1em;
    color: #b2b2b2;
    line-height: 25px;
}
#homepage-product-showcase{
    width: 100%;
}
@media(min-width: 768px){
    #homepage-product-showcase>div{
        width: 33.33%;
    }
    #homepage-product-showcase>div:nth-child(2){
        border-left: 3px solid #f0f0f0;
        border-right: 3px solid #f0f0f0;
    }
}
#homepage-product-showcase>div{
    border-top: 3px solid #f0f0f0;
    padding-top: 35px;
}
#homepage-product-showcase>div h1{
    font-size: 1.2em;
    color: #6a6a6a;
    line-height: 2em;
}
#homepage-product-showcase>div a{
    text-decoration: none;
}
#homepage-product-showcase>div h4{
    font-size: 1em;
    color: #cd9eb1;
}
#homepage-product-showcase>div h4:hover, #homepage-product-showcase>div h4:active{
    color: #693248;
}
.trees-planted{
    background: #f1f2f4;
    overflow: hidden;
    border-bottom: 12px solid #e7eaef;
}
.trees-planted h1{
    font-size: 1.5em;
    display: inline-block;
}
.trees-planted h1 a{
    color: #96a08c;
}
.trees-planted h1 a:hover, .trees-planted h1 a:active{
    text-decoration: none;
    color: #b0c29e;
}
.trees-planted img{
    width: 30px;
    margin: 0 43px 0 67px;
}
.plant-more{
    width: 152px;
    height: 33px;
    border: 2px solid #a0aa96;
    border-radius: 4px;
    color: #a0aa96;
}
.plant-more:hover, .plant-more:active{
    background: #a0aa96;
    color: #fff;
}
.footer{
    background: #683047;
    padding-top: 45px;
    padding-bottom: 50px;
}
.footer-container a{
    letter-spacing: 0.1em;
}
.footer-container a:hover, .footer-container a:active, .footer-nav a:hover, .footer-nav a:active{
    text-decoration: none;
    color: #fff;
}
.footer-first-row a, .footer-title-txt{
    color: rgba(255, 255, 255, 0.6);
}
.footer-second-row a{
    color: rgba(255, 255, 255, 0.3);
}
#footer-hero a{
    color: #fff;
    font-size: 1.5em;
}
.update-form input{
    width: 149px;
    height: 35px;
    font-size: 10px;
    padding: 0 10px;
    color: #683047;
}
.update-form button{
    width: 90px;
    height: 35px;
    border-radius: 0;
    backgrpund: #ffd969;
    color: #683047;
    font-size: 1em;
    margin-left: -5px;
}
.update-form button:hover, .update-form button:active{
    color: #683047;
    background: #dcb542;
    border-color: #dcb542;
}
.footer-link{
    margin-top: 15px;
}
.footer-link a{
    padding-left: 5px!important;
    padding-right: 5px!important;
    color: #fff;
    font-size: 0.9em;
}
.footer-link a:hover, .footer-link a:active{
    color: rgba(255, 255, 255, 0.6)!important;
}
.footer-bottom{
    background: #41182a;
    height: 60px;
}
.footer-bottom p{
    margin-top: 20px;
}
@media(min-width: 768px){
    .copy{
        float: left;
    }
}