/*common css*/
*{
	margin: 0;
	padding: 0;
}
.type_area{
	width: 1000px;
	margin: 0 auto;
}
/*top css*/
.top{
	height: 80px;
	background: #fff;
}
.nav{
	list-style: none;
	float: right;
}
.nav li{
	float: left;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transition: transform 1s;
}
.nav li a{
	display: block;
	width: 100px;
	text-align: center;
	line-height: 79px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: #484c55;
}
.nav li a:nth-child(2){
	background: #f8f9fb;
	border-bottom: 2px solid #69cdce;
	color: #49cbcd;
	transform: translateY(-160px) rotateX(90deg);
	-webkit-transform: translateY(-160px) rotateX(90deg);
	transform-origin: bottom;
	-webkit-transform-origin: bottom;
}
.nav li:hover, .nav li:active, .nav li.li_css{
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}
/*banner css*/
.banner{
	width: 1920px;
	height: 600px;
	margin: 0 0 0 -960px;
	position: relative;
	left: 50%;
}
.slide_image{
	list-style: none;
}
.slide_image>li{
	position: absolute;
}
.slide_image>li:not(:first-child){
	display: none;
}
.slide{
	position: relative;
	display: none;
}
.pre_slide, .next_slide{
	display: block;
	width: 40px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	text-decoration: none;
	font-size: 40px;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 260px;
}
.pre_slide:hover, .pre_slide:active, .next_slide:hover, .next_slide:active{
	background: rgba(0, 0, 0 , 0.6);
}
.next_slide{
	right: 0;
}
.slide_icon{
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 100%;
}
.slide_icon span{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
}
.slide_icon span:hover, .slide_icon span:active, .slide_icon .slide_css{
	background: #fff;
}
/*content css*/

