.logo{
    width: 168px;
    padding: 0 0 0 18px;
    margin-top: -15px;
}
.navbar-nav a{
    font-weight: 600;
    color: #a2a2a2!important;
}
.navbar-nav a:hover, .navbar-nav a:active{
    color: #693248!important;
}
.middle-nav-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}